@{
    ViewData["Title"] = "New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FlickrClone.Models.Post

<h2>New Post</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)

    <input type="submit" value="Create" class="btn btn-default" />
}
@Html.ActionLink("Back to index", "Index")