@{
    ViewData["Title"] = "Post - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FlickrClone.Models.Post

<h2>Post Details</h2>
<div>@Html.ActionLink("Edit", "Edit", new { id = Model.PostId }, null) | @Html.ActionLink("Delete", "Delete", new { id = Model.PostId }, null)</div>
<hr />
<div class="row">
    @Html.DisplayNameFor(model => model.Title)
    @Html.DisplayFor(model => model.Title)
</div>

<div class="row">
    <img src="@Url.Content(Model.Image)" alt="Image" />
</div>
@Html.DisplayNameFor(model => model.Description)
@Html.DisplayFor(model => model.Description)



@using (Html.BeginForm("Create", "Posts", FormMethod.Post))
{
    <input id="PostId" name="PostId" type="hidden" value="@Model.PostId" />
    <label for="Body">Enter Comment</label>
    <input id="Body" name="Body" type="text" />

    <input type="submit" value="Add Comment" class="btn btn-primary" />
}

@Html.DisplayNameFor(model => model.Comments)
@foreach (var comment in Model.Comments)
{
    <h3>@comment.Body</h3>
}


